<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/style.css">
    <style>
        form{
            width:270px;
            margin: auto;
            margin-top: 20%;
        }

        label{
            display: block;
            padding-bottom:20px;
        }

        .label-text{
            float: left;
        }
        body{
            background: url("https://images7.alphacoders.com/370/thumb-1920-370162.jpg") ;
            background-size: cover;
        }
        #content{
            position: absolute;
            top: 40%;
            left: 50%;
            margin: -170px 0 0 -250px;
            width: 500px;
            height: 300px;
            background:transparent;
        }
        #img-show{
            width: 135px;
            height: 135px;
            display: block;
            margin: 0 auto;
            object-fit: cover;
        }
    </style>
    <script>
        function imgfileChange() {
            var img_show = document.getElementById("img-show");
            var imgfile = document.getElementById("imgfile");

            var freader = new FileReader();
            freader.readAsDataURL(imgfile.files[0]);
            freader.onload = function (e) {
                img_show.src = e.target.result;
            };
        }
    </script>
</head>
<body>
<div id="app">
        <div id="content" style="height: 480px">
            <h2 style="margin-left: 150px;color: lawngreen">修改景点</h2>
            <form action="viewspotlist.html" method="post">
                <label>
                    <div class="label-text"><b style="color: blanchedalmond ">  景&emsp;&emsp;点：</b></div>
                    <input type="text" v-model="place.name">
                </label>
                <label>
                    <div class="label-text"><b style="color: blanchedalmond; ">映像图片：</b></div>
                    <div style="text-align: center;padding-left: 36%">
                        <img :src="src" alt="" id="img-show">
                        <input type="file" id="imgfile" ref="myFile" style="display: none" onchange="imgfileChange()">
                    </div>
                </label>
                <label>
                    <div class="label-text"><b style="color: blanchedalmond ">旺季时间：</b></div>
                    <input type="text" v-model="place.hottime">
                </label>
                <label>
                    <div class="label-text"><b style="color: blanchedalmond ">旺季门票：</b></div>
                    <input type="text" v-model="place.hotticket">
                </label>
                <label>
                    <div class="label-text"><b style="color: blanchedalmond ">淡季门票：</b></div>
                    <input type="text" v-model="place.dimticket">
                </label>
                <label>
                    <div class="label-text"><b style="color: blanchedalmond ">景点描述：</b></div>
                    <input type="text" v-model="place.placedes">
                </label>
                <label>
                    <div class="label-text"><b style="color: blanchedalmond ">所属省份：</b></div>
                    <select v-model="place.provinceid">
                        <option  v-for="(pro,index) in provinces" :value="pro.id" v-text="pro.name"></option>
                    </select>
                </label>
                <button type="button" @click="updatePlace" style="margin-left: 60px;color: deepskyblue">提 交</button>&emsp;
                <a :href="'viewspotlist.html?id='+ place.provinceid" style="margin-left: 40px;color: deepskyblue">返回</a>
            </form>
        </div>
    </div>
</body>
</html>
<script src="../js/vue.js"></script>
<script src="../js/axios.min.js"></script>
<script>

    const app = new Vue({
        el: "#app",
        data: {
            id:"",
            place:{},
            provinces:[],
            src:"",
        },
        methods:{
            updatePlace(){
                console.log(this.place);
                let myFile = this.$refs.myFile;
                let files = myFile.files;
                let file  = files[0];
                let formData = new FormData();
                formData.append("pic",file);
                formData.append("id",this.place.id);
                formData.append("name",this.place.name);
                formData.append("hottime",this.place.hottime);
                formData.append("hotticket",this.place.hotticket);
                formData.append("dimticket",this.place.dimticket);
                formData.append("placedes",this.place.placedes);
                formData.append("provinceid",this.place.provinceid);
                //axios
                axios({
                    method:'post',
                    url:'http://localhost:8989/place/update',
                    data:formData,
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then((res)=>{
                    console.log(res.data);
                    if(res.data.state){
                        alert(res.data.msg+",点击确定回到景点列表");
                        location.href="./viewspotlist.html?id="+this.place.provinceid;
                    }else{
                        alert(res.data.msg+",点击确定回到景点列表");
                    }
                });
            },
            findOnePlace(){//根据id查询景点信息
                _this =this;
                axios.get("http://localhost:8989/place/findOne?id="+this.id).then((res)=>{
                    _this.place = res.data;
                    _this.src = "data:image/png;base64,"+_this.place.picpath;
                });
            },
            findAllProvinces(){
                _this = this;
                axios.get("http://localhost:8989/province/findByPage?rows=35").then((res)=>{
                    console.log(res.data.provinces);
                    _this.provinces = res.data.provinces;
                });
            }
        },
        created(){
            let id = location.href.substring(location.href.indexOf("=")+1);
            this.id = id;
            this.findOnePlace();
            this.findAllProvinces();
        }
    })

</script>